<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<mvc:annotation-driven/>
	<!-- 정적자원 설정
		mapping : 정적자원을 가져올 고유 URL
		location : 정적자원이 있는 Base home
		/WEB-INF/static/js/jquery-3.3.1.min.js
		==> http://localhost:8080/ContextPath(보통 프로젝트 이름)/static/js/jquery-3.3.1.min.js
	 -->
	<mvc:resources mapping="/static/**" location="/WEB-INF/static/" />
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
				<mvc:exclude-mapping path = "/login"/>
				<mvc:exclude-mapping path = "/static/**"/>
				<mvc:exclude-mapping path="/regist"/>
				<bean 	id="sessionInterceptor" 
						class="com.ktds.community.interceptors.SessionInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
				<bean 	id="ipBlockInterceptor" 
						class="com.ktds.community.interceptors.IpBlockInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

	
	<bean id="viewResolver" 
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
 	
	<bean id="multipartResolver" 
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="maxUploadSize" value="104857600"/>
	</bean>
	
	<import resource="controllerContext.xml"/>
	

</beans>
