@charset "UTF-8";

#progress {
	margin-top:20px;
	margin-bottom:15px;
	border-radius: 15px;
	border: 1px solid #ddd;
}

#progress ul {
	padding: 0px;
	margin: 0px;
}


#progress li {
	display: inline-block;
	padding: 15px;
	border-right: 1px solid #ddd;
	border-top-right-radius: 45%;
	border-bottom-right-radius: 45%;
	
}

#progress li:first-child{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#progress li:last-child{
	border-right: none;
}

#progress li.active{
	background-color: #077aFF;
	color:#FFF;
	font-weight:bold;
	
}

.box {
	background-color : #F3F3F3;
}

#myCommunities {
	cursor:	pointer;
}

#myCommunities:HOVER {
	text-decoration: underline;
}


